<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>沈阳</string>
		<key>spell</key>
		<string>Shenyang</string>
		<key>abbreviativeName</key>
		<string>SY</string>
		<key>Plcityid</key>
		<string>210100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大连</string>
		<key>spell</key>
		<string>Dalian</string>
		<key>abbreviativeName</key>
		<string>DL</string>
		<key>Plcityid</key>
		<string>210200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鞍山</string>
		<key>spell</key>
		<string>Anshan</string>
		<key>abbreviativeName</key>
		<string>AS</string>
		<key>Plcityid</key>
		<string>210300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抚顺</string>
		<key>spell</key>
		<string>Fushun</string>
		<key>abbreviativeName</key>
		<string>FS</string>
		<key>Plcityid</key>
		<string>210400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>本溪</string>
		<key>spell</key>
		<string>Benxi</string>
		<key>abbreviativeName</key>
		<string>BX</string>
		<key>Plcityid</key>
		<string>210500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>丹东</string>
		<key>spell</key>
		<string>Dandong</string>
		<key>abbreviativeName</key>
		<string>DD</string>
		<key>Plcityid</key>
		<string>210600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>锦州</string>
		<key>spell</key>
		<string>Jinzhou</string>
		<key>abbreviativeName</key>
		<string>JZ</string>
		<key>Plcityid</key>
		<string>210700</string>
	</dict>
	<dict>
		<key>name</key>
		<string>营口</string>
		<key>spell</key>
		<string>Yingkou</string>
		<key>abbreviativeName</key>
		<string>YK</string>
		<key>Plcityid</key>
		<string>210800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阜新</string>
		<key>spell</key>
		<string>Fuxin</string>
		<key>abbreviativeName</key>
		<string>FX</string>
		<key>Plcityid</key>
		<string>210900</string>
	</dict>
	<dict>
		<key>name</key>
		<string>辽阳</string>
		<key>spell</key>
		<string>Liaoyang</string>
		<key>abbreviativeName</key>
		<string>LY</string>
		<key>Plcityid</key>
		<string>211000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>盘锦</string>
		<key>spell</key>
		<string>PanJin</string>
		<key>abbreviativeName</key>
		<string>PJ</string>
		<key>Plcityid</key>
		<string>211100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铁岭</string>
		<key>spell</key>
		<string>Tieling</string>
		<key>abbreviativeName</key>
		<string>TL</string>
		<key>Plcityid</key>
		<string>211200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>朝阳</string>
		<key>spell</key>
		<string>Chaoyang</string>
		<key>abbreviativeName</key>
		<string>CY</string>
		<key>Plcityid</key>
		<string>211300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葫芦岛</string>
		<key>spell</key>
		<string>Huludao</string>
		<key>abbreviativeName</key>
		<string>HLD</string>
		<key>Plcityid</key>
		<string>211400</string>
	</dict>
		<dict>
		<key>name</key>
		<string>北京</string>
		<key>spell</key>
		<string>Beijing</string>
		<key>abbreviativeName</key>
		<string>BJ</string>
		<key>Plcityid</key>
		<string>110100</string>
	</dict>
		<dict>
		<key>name</key>
		<string>天津</string>
		<key>spell</key>
		<string>Tianjing</string>
		<key>abbreviativeName</key>
		<string>TJ</string>
		<key>Plcityid</key>
		<string>120100</string>
	</dict>
		<dict>
		<key>name</key>
		<string>上海</string>
		<key>spell</key>
		<string>Shanghai</string>
		<key>abbreviativeName</key>
		<string>SH</string>
		<key>Plcityid</key>
		<string>310100</string>
	</dict>
</array>
</plist>
